<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="classact.com.xprize">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.menu.LanguageSelect">
        </activity>
        <activity android:name=".activity.movie.Intro">
        </activity>
        <activity android:name=".activity.drill.tutorial.Tutorial">
        </activity>
        <activity android:name=".activity.movie.Movie">
        </activity>
        <activity android:name=".activity.link.PhonicsLink">
        </activity>
        <activity android:name=".activity.link.StoryLink">
        </activity>
        <activity android:name=".activity.link.MathsLink">
        </activity>
        <activity android:name=".activity.link.WordsLink">
        </activity>
        <activity android:name=".activity.drill.sound.SoundDrillOneActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillTwoActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillThreeActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillFourActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillFiveActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillSixActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillSevenActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillEightActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillNineActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillTenActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillElevenActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillTwelveActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillThirteenActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillFourteenActivity"/>
        <activity android:name=".activity.drill.sound.SoundDrillFifteenActivity"/>
        <activity android:name=".activity.drill.sound.SimpleStoryActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillOneActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillTwoActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillThreeActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillFourActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillFiveActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillSixActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillSixAndOneActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillSixAndTwoActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillSevenActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillFiveAndOneActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillSixAndThreeActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillSixAndFourActivity"/>
        <activity android:name=".activity.drill.math.MathsDrillSevenAndOneActivity">
        </activity>
        <activity android:name=".activity.link.LevelCompleteLink">
        </activity>
    </application>

</manifest>